<section id="sign-body" class="section-p2 section-m2">
  <div class="sign-card">
    <div class="sign-card-text">
      <h3>Welcome<br>Back!</h3>
    </div>
    <div class="sign-card-form">
      <%= form_with(scope: :session, url: login_path, class: "users-form-container") do |f| %>
        <div class="users-form-shared-email">
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div class="users-form-shared-pass">
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <%= f.submit value: "Log In", class: "btn-sign" %>
      <% end %>
    </div>
  </div>
  <div class="signup-card">
     <p>Don't have an account?  <a href="#">Sign up</a></p>
  </div>
</section>