<section id="sign-body" class="section-p2 section-m2">
  <div class="sign-card">
    <div class="sign-card-text">
      <h3>Log In</h3>
      <p>Log in to your free Alpha account</p>
    </div>
    <div class="sign-card-form">
      <%= form_with(scope: :session, url: login_path, class: "users-form-container") do |f| %>
        <div class="users-form-shared-email">
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div class="users-form-shared-pass">
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <%= f.submit value: "Log In" %>
      <% end %>
    </div>
  </div>
  <div class="signup-card">
     <p>New here? Sign Up</p>
  </div>
</section>